.divider {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  padding: 20px;
  z-index: 1;
  background-color: white;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.navbar__menu__item {
  font-size: 20px;
}

.navbar__menu__item:hover {
  color: darkmagenta;
  cursor: pointer;
}

.about {
  background-color: yellow;
  padding-top: 120px;
  height: 500px;
}

.about__container {
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.idPhoto {
  width: 325px;
}

.idPhoto > img {
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
}

.about__introduce {
  font-size: 30px;
  line-height: 45px;
}

.about__introduce__name {
  font-weight: 900;
}

.about__contact {
  gap: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}
.about__contact > p {
  font-size: 25px;
}

.edu__exp {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.totalcontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.edu__container {
  display: flex;
  flex-direction: column;
}
.education__title {
  font-size: 40px;
}

.education__icon {
  color: blue;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.education__icon > i {
  border: 1px solid blue;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.education__icon > i:hover {
  animation: scale-up-center 0.7s ease-in-out alternate both;
}

.education__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.education__info > p {
  font-size: 17px;
}

.education__info > span {
  font-size: 14px;
}

.skills {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: aqua;
  padding: 20px;
}

.skill__title {
  text-align: center;
}

.skill__title > p {
  margin-bottom: 10px;
}

.skill__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.front__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.skill__icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.skill__icon > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.skill {
  display: flex;
  border: 1px solid black;
  align-items: center;
  border-radius: 10px;
}

.skill:hover {
  animation: scale-up-center 0.7s ease-in-out alternate both;
}

.project {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.project__title {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}
.project__title > span {
  font-size: 15px;
}

.project__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.project__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__item__title {
  margin: 20px;
}

.project__img {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.project__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  padding: 100px;
}

.project__mask {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: gray;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}

.project__mask > p {
  color: white;
}

.project__img:hover .project__mask {
  opacity: 1;
}
